youtube-transcript-api==0.6.2
pypdf==4.2.0
gTTS==2.5.1
numpy
openai-whisper
wave==0.0.2
streamlit-extras==0.4.2
google-generativeai==0.8.3
SpeechRecognition==3.10.4
streamlit==1.40.2
pandas==2.1.4
configparser==7.0.0
requests==2.31.0
pyperclip==1.8.2
colorama==0.4.6
PyPDF2==3.0.1
markdown==3.3.6
streamlit_audiorec==0.1.3